* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gradient-background {
    background: linear-gradient(300deg, #D1E9F6, #F6EACB, #F1D3CE);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.skills-bg {
    background: linear-gradient(300deg, #D1E9F6, #F6EACB, #F1D3CE);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    }
  
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.nav-link {
    font-size: 20px;
}

.profile-pic {
    height: 400px;
}

.pic-side {
    height: 500px;
    width: auto;
}

.front-page {
    display: flex;
    align-items: center;
    height: 80%;
}

.quote {
    font-weight: bold;
    font-size: 40px;
    color: #4F75FF;
    text-align: center;
}

.laptop {
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-bottom: 1%;
    border-radius: 10%;
    
}

h4 + p,
h3 + p,
h2 + p {
  font-size: 16px;
}

.about-me > p {
  font-size: 16px;
}

.da {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.da > div {
  justify-self: center;
}

.DA-pics {
  width: 500px;
  height: 300px;
  border-radius: 20px;
}

.DA-pics:hover{
  transform: scale(.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

a[target="_blank"] + p {
  text-align: center;
  padding: 10px;
  font-weight: 600;
}

.inventory-vid {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.web-img {
  height: auto;
  width: 100%;
  padding: 10px 10px;
}

.web-pic {
  height: 500px;
  width: 600px;
  border-radius: 20px;
}

.web-pic:hover{
  transform: scale(.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.connect {
  height: 50vh;
  width: 100%;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.icons > div {
  display: flex;
}

.numbers > p {
  font-size: 25px;
  padding: 10px 10px;
  font-weight: 600;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer img {
  width: 100%;
  max-width: 200px; 
  height: auto;
}

.numbers {
  border-radius: 20px;
  background-color: #F6EACB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

@media (max-width: 1330px) {
    .profile-pic {
        height: 200px;
    }

    .da {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
    }

    .inventory-vid {
      display: block;
      width: 100%;
    }

    .connect{
      height: 100%;
    }

    footer {
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      text-align: center;
    }

    footer .nav {
        width: 100%;
        justify-content: center;
    }

    footer p {
        margin-bottom: 0.5rem;
    }

    video {
      width: 100%;
  }
}